In [1]:
import galah

In [5]:
galah.atlas_species(taxa="Heleioporus")

,species,author,species_guid,kingdom,phylum,class,order,family,vernacular_name
0,Heleioporus eyrei,"(gray, 1845)",Https://biodiversity.org.au/afd/taxa/cf991494-...,Animalia,Chordata,Amphibia,Anura,Limnodynastidae,Moaning Frog
1,Heleioporus australiacus,"(shaw & nodder, 1795)",Https://biodiversity.org.au/afd/taxa/20119b25-...,Animalia,Chordata,Amphibia,Anura,Limnodynastidae,Giant Burrowing Frog
2,Heleioporus albopunctatus,"Gray, 1841",Https://biodiversity.org.au/afd/taxa/c1d18a1e-...,Animalia,Chordata,Amphibia,Anura,Limnodynastidae,Western Spotted Frog
3,Heleioporus psammophilus,"(lee & main, 1954)",Https://biodiversity.org.au/afd/taxa/0efbf288-...,Animalia,Chordata,Amphibia,Anura,Limnodynastidae,Sand Frog
4,Heleioporus inornatus,"(lee & main, 1954)",Https://biodiversity.org.au/afd/taxa/16fcc761-...,Animalia,Chordata,Amphibia,Anura,Limnodynastidae,Plains Frog
5,Heleioporus barycragus,"Lee, 1967",Https://biodiversity.org.au/afd/taxa/c527388c-...,Animalia,Chordata,Amphibia,Anura,Limnodynastidae,Hooting Frog

In [6]:
galah.atlas_species(taxa="Limnodynastidae")

,species,author,species_guid,kingdom,phylum,class,order,family,vernacular_name
0,Limnodynastes peronii,"(duméril & bibron, 1841)",Https://biodiversity.org.au/afd/taxa/475b04bd-...,Animalia,Chordata,Amphibia,Anura,Limnodynastidae,Brown-Striped Frog
1,Limnodynastes tasmaniensis,"Günther, 1858",Https://biodiversity.org.au/afd/taxa/ac2de3ed-...,Animalia,Chordata,Amphibia,Anura,Limnodynastidae,Spotted Grass Frog
2,Limnodynastes dumerilii,"Peters, 1863",Https://biodiversity.org.au/afd/taxa/2c50c2f6-...,Animalia,Chordata,Amphibia,Anura,Limnodynastidae,Eastern Banjo Frog
3,Platyplectrum ornatum,"(gray, 1842)",Https://biodiversity.org.au/afd/taxa/2e224aea-...,Animalia,Chordata,Amphibia,Anura,Limnodynastidae,Ornate Burrowing Frog
4,Adelotus brevis,"(günther, 1863)",Https://biodiversity.org.au/afd/taxa/32f57cc7-...,Animalia,Chordata,Amphibia,Anura,Limnodynastidae,Tusked Frog
5,Neobatrachus sudellae,"(lamb, 1911)",Https://biodiversity.org.au/afd/taxa/953a5af4-...,Animalia,Chordata,Amphibia,Anura,Limnodynastidae,Sudell's Frog
6,Limnodynastes fletcheri,"Boulenger, 1888",Https://biodiversity.org.au/afd/taxa/89785c3b-...,Animalia,Chordata,Amphibia,Anura,Limnodynastidae,Barking Frog
7,Limnodynastes convexiusculus,"(macleay, 1877)",Https://biodiversity.org.au/afd/taxa/066d749e-...,Animalia,Chordata,Amphibia,Anura,Limnodynastidae,Marbled Frog
8,Limnodynastes terraereginae,"Fry, 1915",Https://biodiversity.org.au/afd/taxa/7bdd975a-...,Animalia,Chordata,Amphibia,Anura,Limnodynastidae,Northern Banjo Frog
9,Limnodynastes dorsalis,"(gray, 1841)",Https://biodiversity.org.au/afd/taxa/ac5ce2ed-...,Animalia,Chordata,Amphibia,Anura,Limnodynastidae,Bullfrog
10,Heleioporus eyrei,"(gray, 1845)",Https://biodiversity.org.au/afd/taxa/cf991494-...,Animalia,Chordata,Amphibia,Anura,Limnodynastidae,Moaning Frog
11,Neobatrachus pictus,"Peters, 1863",Https://biodiversity.org.au/afd/taxa/39eeb892-...,Animalia,Chordata,Amphibia,Anura,Limnodynastidae,Painted Burrowing Frog
12,Notaden nichollsi,"Parker, 1940",Https://biodiversity.org.au/afd/taxa/5862d01c-...,Animalia,Chordata,Amphibia,Anura,Limnodynastidae,Desert Spadefoot
13,Limnodynastes interioris,"Fry, 1913",Https://biodiversity.org.au/afd/taxa/880ef4e5-...,Animalia,Chordata,Amphibia,Anura,Limnodynastidae,Giant Banjo Frog
14,Limnodynastes salmini,"Steindachner, 1867",Https://biodiversity.org.au/afd/taxa/60bcfa1d-...,Animalia,Chordata,Amphibia,Anura,Limnodynastidae,Salmon Striped Frog
15,Lechriodus fletcheri,"(boulenger, 1890)",Https://biodiversity.org.au/afd/taxa/fd657a65-...,Animalia,Chordata,Amphibia,Anura,Limnodynastidae,Fletcher's Frog
16,Platyplectrum spenceri,"(parker, 1940)",Https://biodiversity.org.au/afd/taxa/2e1eaf74-...,Animalia,Chordata,Amphibia,Anura,Limnodynastidae,Spencer's Burrowing Frog
17,Heleioporus australiacus,"(shaw & nodder, 1795)",Https://biodiversity.org.au/afd/taxa/20119b25-...,Animalia,Chordata,Amphibia,Anura,Limnodynastidae,Giant Burrowing Frog
18,Notaden melanoscaphus,"Hosmer, 1962",Https://biodiversity.org.au/afd/taxa/0d32d548-...,Animalia,Chordata,Amphibia,Anura,Limnodynastidae,Northern Spadefoot
19,Philoria sphagnicola,"(moore, 1958)",Https://biodiversity.org.au/afd/taxa/986352a5-...,Animalia,Chordata,Amphibia,Anura,Limnodynastidae,Sphagnum Frog
20,Notaden bennettii,"Günther, 1873",Https://biodiversity.org.au/afd/taxa/24afae61-...,Animalia,Chordata,Amphibia,Anura,Limnodynastidae,Crucifix Frog
21,Neobatrachus pelobatoides,"(werner, 1914)",Https://biodiversity.org.au/afd/taxa/0a2d3c77-...,Animalia,Chordata,Amphibia,Anura,Limnodynastidae,Humming Frog
22,Neobatrachus sutor,"Main, 1957",Https://biodiversity.org.au/afd/taxa/3788cffe-...,Animalia,Chordata,Amphibia,Anura,Limnodynastidae,Shoemaker Frog
23,Heleioporus albopunctatus,"Gray, 1841",Https://biodiversity.org.au/afd/taxa/c1d18a1e-...,Animalia,Chordata,Amphibia,Anura,Limnodynastidae,Western Spotted Frog
24,Neobatrachus kunapalari,"Mahony & roberts, 1986",Https://biodiversity.org.au/afd/taxa/6f344f2a-...,Animalia,Chordata,Amphibia,Anura,Limnodynastidae,Kunapalari Frog
25,Philoria loveridgei,"Parker, 1940",Https://biodiversity.org.au/afd/taxa/f1e8b187-...,Animalia,Chordata,Amphibia,Anura,Limnodynastidae,Loveridge's Frog
26,Neobatrachus aquilonius,"Tyler, davies & martin, 1981",Https://biodiversity.org.au/afd/taxa/ff35671b-...,Animalia,Chordata,Amphibia,Anura,Limnodynastidae,Northern Burrowing Frog
27,Philoria frosti,"Spencer, 1901",Https://biodiversity.org.au/afd/taxa/c0bc8e92-...,Animalia,Chordata,Amphibia,Anura,Limnodynastidae,Baw Baw Frog
28,Neobatrachus wilsmorei,"(parker, 1940)",Https://biodiversity.org.au/afd/taxa/1ddf3536-...,Animalia,Chordata,Amphibia,Anura,Limnodynastidae,Goldfields Bullfrog
29,Limnodynastes lignarius,"(tyler, martin & davies, 1979)",Https://biodiversity.org.au/afd/taxa/201932e4-...,Animalia,Chordata,Amphibia,Anura,Limnodynastidae,Carpenter Frog
30,Philoria kundagungan,"(ingram & corben, 1975)",Https://biodiversity.org.au/afd/taxa/fcb2e700-...,Animalia,Chordata,Amphibia,Anura,Limnodynastidae,Mountain Frog
31,Heleioporus psammophilus,"(lee & main, 1954)",Https://biodiversity.org.au/afd/taxa/0efbf288-...,Animalia,Chordata,Amphibia,Anura,Limnodynastidae,Sand Frog
32,Neobatrachus albipes,"Roberts, mahony, kendrick & majors, 1991",Https://biodiversity.org.au/afd/taxa/d9b8c071-...,Animalia,Chordata,Amphibia,Anura,Limnodynastidae,White-Footed Frog
33,Philoria pughi,"Knowles, mahony, armstrong & donnellan, 2004",Https://biodiversity.org.au/afd/taxa/1f800926-...,Animalia,Chordata,Amphibia,Anura,Limnodynastidae,Pugh's Frog
34,Heleioporus inornatus,"(lee & main, 1954)",Https://biodiversity.org.au/afd/taxa/16fcc761-...,Animalia,Chordata,Amphibia,Anura,Limnodynastidae,Plains Frog
35,Heleioporus barycragus,"Lee, 1967",Https://biodiversity.org.au/afd/taxa/c527388c-...,Animalia,Chordata,Amphibia,Anura,Limnodynastidae,Hooting Frog
36,Limnodynastes depressus,"Tyler, 1976",Https://biodiversity.org.au/afd/taxa/42c7d977-...,Animalia,Chordata,Amphibia,Anura,Limnodynastidae,Flat-Headed Frog
37,Neobatrachus fulvus,"Mahony & roberts, 1986",Https://biodiversity.org.au/afd/taxa/c659f7db-...,Animalia,Chordata,Amphibia,Anura,Limnodynastidae,Tawny Frog
38,Philoria richmondensis,"Knowles, mahony, armstrong & donnellan, 2004",Https://biodiversity.org.au/afd/taxa/df58b980-...,Animalia,Chordata,Amphibia,Anura,Limnodynastidae,Richmond Frog
39,Notaden weigeli,"Shea & johnston, 1988",Https://biodiversity.org.au/afd/taxa/7ccf02f7-...,Animalia,Chordata,Amphibia,Anura,Limnodynastidae,Weigel's Spadefoot Toad

In [7]:
galah.search_all(fields="basis")

,id,description,type,link
12,basisOfRecord,"What this is a record of e.g. specimen, human ...",field,https://github.com/AtlasOfLivingAustralia/ala-...
236,raw_basisOfRecord,The basis of record as supplied by the data pu...,field,NaN

In [9]:
galah.show_values(field="basisOfRecord")

           field             category
0  basisOfRecord    HUMAN_OBSERVATION
1  basisOfRecord   PRESERVED_SPECIMEN
2  basisOfRecord          OBSERVATION
3  basisOfRecord           OCCURRENCE
4  basisOfRecord  MACHINE_OBSERVATION
5  basisOfRecord      MATERIAL_SAMPLE
6  basisOfRecord      LIVING_SPECIMEN
7  basisOfRecord    MATERIAL_CITATION
8  basisOfRecord      FOSSIL_SPECIMEN

In [10]:
galah.search_values(field="basisOfRecord",value="OBS")

           field             category
2  basisOfRecord          OBSERVATION
0  basisOfRecord    HUMAN_OBSERVATION
4  basisOfRecord  MACHINE_OBSERVATION

In [12]:
galah.show_all(assertions=True)

,name,description,category,type
0,AMBIGUOUS_COLLECTION,Ambiguous collection,Warning,True
1,AMBIGUOUS_INSTITUTION,Ambiguous institution,Warning,True
2,BASIS_OF_RECORD_INVALID,Basis of record badly formed,Warning,True
3,biosecurityIssue,Biosecurity issue,Error,True
4,COLLECTION_MATCH_FUZZY,Collection match fuzzy,Warning,True
...,...,...,...,...
112,UNRECOGNISED_COLLECTION_CODE,Unrecognized collection code,Error,True
113,UNRECOGNISED_INSTITUTION_CODE,Unrecognized institution code,Error,True
114,userAssertionOther,Other error,Error,True
115,userDuplicateRecord,The occurrence appears to be a duplicate,Warning,True
116,ZERO_COORDINATE,Supplied coordinates are zero,Warning,True

In [15]:
galah.search_all(assertions="CODE",column_name="name")

,name,description,category,type
112,UNRECOGNISED_COLLECTION_CODE,Unrecognized collection code,Error,True
113,UNRECOGNISED_INSTITUTION_CODE,Unrecognized institution code,Error,True

In [16]:
galah.search_all(assertions="code")

,name,description,category,type
112,UNRECOGNISED_COLLECTION_CODE,Unrecognized collection code,Error,True
113,UNRECOGNISED_INSTITUTION_CODE,Unrecognized institution code,Error,True

In [2]:
animalia_ID = galah.search_taxa("Animalia")['taxonConceptID'][0]
chordata_ID = galah.search_taxa("Chordata")['taxonConceptID'][0]

In [8]:
temp = galah.atlas_counts(filters=["taxonConceptID={}".format(animalia_ID),"taxonConceptID!={}".format(chordata_ID)],group_by="class",expand=False)
list(temp["class"])

['Acanthocephala',
 'Acoela',
 'Adenophorea',
 'Anopla',
 'Anthozoa',
 'Aplacophora',
 'Arachnida',
 'Archiacanthocephala',
 'Asteroidea',
 'Bdelloidea',
 'Bivalvia',
 'Branchiopoda',
 'Calcarea',
 'Catenulida',
 'Cephalocarida',
 'Cephalopoda',
 'Cestoda',
 'Chilopoda',
 'Chromadorea',
 'Collembola',
 'Craniata',
 'Crinoidea',
 'Cubozoa',
 'Demospongiae',
 'Diplopoda',
 'Dorylaimea',
 'Echinoidea',
 'Echiuridea',
 'Enopla',
 'Enoplea',
 'Enteropneusta',
 'Entognatha',
 'Eoacanthocephala',
 'Eutardigrada',
 'Gastropoda',
 'Gordioida',
 'Gordioidea',
 'Graptolithina',
 'Gymnolaemata',
 'Heterotardigrada',
 'Hexactinellida',
 'Hirudinida',
 'Holothuroidea',
 'Homoscleromorpha',
 'Hydrozoa',
 'Insecta',
 'Lingulata',
 'Malacostraca',
 'Maxillopoda',
 'Monogenea',
 'Monogononta',
 'Monoplacophora',
 'Myxozoa',
 'Nectonematoidea',
 'Nemertinea',
 'Nemertodermatida',
 'Nuda',
 'Oligochaeta',
 'Ophiuroidea',
 'Ostracoda',
 'Paleacanthocephala',
 'Pauropoda',
 'Phascolosomatidea',
 'Phylactolaemata',
 'Pogonophora',
 'Polychaeta',
 'Polyplacophora',
 'Protura',
 'Pterobranchia',
 'Pycnogonida',
 'Remipedia',
 'Rhabditophora',
 'Rhynchonellata',
 'Scaphopoda',
 'Scyphozoa',
 'Secernentea',
 'Siphonophora',
 'Sipunculidea',
 'Staurozoa',
 'Stenolaemata',
 'Symphyla',
 'Tentaculata',
 'Trematoda']

In [22]:
print("taxonConceptID={}".format(animalia_ID))

taxonConceptID=https://biodiversity.org.au/afd/taxa/4647863b-760d-4b59-aaa1-502c8cdf8d3c

In [23]:
import pandas as pd

In [24]:
griis_list = pd.read_csv("~/Downloads/griis_list.csv")

In [31]:
galah.search_taxa(list(griis_list["scientificName"][0:10]))

,scientificName,scientificNameAuthorship,taxonConceptID,rank
0,Abelmoschus manihot,(L.) Medik.,https://id.biodiversity.org.au/node/apni/2901085,species
1,Abutilon,Mill.,https://id.biodiversity.org.au/taxon/apni/5128...,genus
2,Abutilon pictum,(Gillies ex Hook. & Arn.) Walp.,https://id.biodiversity.org.au/node/apni/2890496,species
3,Abutilon theophrasti,Medik.,https://id.biodiversity.org.au/node/apni/2899034,species
4,Acacia,Mill.,https://id.biodiversity.org.au/taxon/apni/5138...,genus
5,Acacia terminalis subsp. Bright yellow flower ...,NSW Herbarium,https://id.biodiversity.org.au/taxon/apni/5128...,subspecies
6,Senegalia rugata,(Lam.) Britton & Rose,https://id.biodiversity.org.au/node/apni/2907691,species

In [30]:
fields=["recordID","eventDate","year","basisOfRecord","occurrenceStatus","scientificName","decimalLatitude","decimalLongitude"]
galah.atlas_occurrences(taxa="Petroica rodinogaster",fields=fields)

,recordID,eventDate,year,basisOfRecord,occurrenceStatus,scientificName,decimalLatitude,decimalLongitude
0,000fc2ef-b696-4576-a3a5-fabb9202357a,1976-12-18T13:00:00Z,1976.0,HUMAN_OBSERVATION,PRESENT,Petroica (Erythrodryas) rodinogaster,-37.410000,144.410000
1,001410fd-3a01-43aa-a0d3-1faa744a1686,1978-05-23T14:00:00Z,1978.0,HUMAN_OBSERVATION,PRESENT,Petroica (Erythrodryas) rodinogaster,-38.250000,142.410000
2,00164a76-0b3a-4b44-b91c-0bc85251a565,1977-12-15T13:00:00Z,1977.0,HUMAN_OBSERVATION,PRESENT,Petroica (Erythrodryas) rodinogaster,-42.910000,146.910000
3,001bfca5-4197-40a6-98f9-2b868a45991f,1940-12-31T14:00:00Z,1941.0,OBSERVATION,PRESENT,Petroica (Erythrodryas) rodinogaster,-36.415100,147.317900
4,001e33bd-bb15-4384-97cd-628523ccf86e,2002-10-17T14:00:00Z,2002.0,HUMAN_OBSERVATION,PRESENT,Petroica (Erythrodryas) rodinogaster,-40.948060,145.715000
...,...,...,...,...,...,...,...,...
11991,ffe6ed8c-c90a-4883-a097-afe306948eda,2014-04-11T14:00:00Z,2014.0,OCCURRENCE,PRESENT,Petroica (Erythrodryas) rodinogaster,-38.149500,144.380300
11992,ffefd1a5-b858-49a0-b948-ae020f5e460c,NaN,NaN,OBSERVATION,PRESENT,Petroica (Erythrodryas) rodinogaster,-37.915100,145.584600
11993,fff74fb7-ad60-428c-a6a4-a22af40c0b35,1976-12-31T13:00:00Z,1977.0,OBSERVATION,PRESENT,Petroica (Erythrodryas) rodinogaster,-37.623400,147.209600
11994,fff828cc-5a87-4216-a717-a53fdab2ee52,2001-06-30T14:00:00Z,2001.0,OBSERVATION,PRESENT,Petroica (Erythrodryas) rodinogaster,-38.154100,144.679200
11995,fffca64f-4759-4e54-8d01-b2b68581691d,NaN,NaN,OBSERVATION,PRESENT,Petroica (Erythrodryas) rodinogaster,-43.248508,146.918045

In [9]:
galah.atlas_counts(taxa="Eolophus roseicapilla",filters="eventDate >= 2023-02-015T00:00:00Z")

   totalRecords
0            42